* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 500px;
  margin:  50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.hor-line {
  width: 50px;
  height: 2px;
  background-color: #555;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-btn {
  align-self: right;
}